In [50]:
import pandas as pd
import re

In [51]:
df_players = pd.read_json('./Data/liga brasil/players.json')
df_players.head()

,type,href,parent,name,last_name,number,name_in_home_country,date_of_birth,place_of_birth,age,...,foot,joined,contract_expires,day_of_last_contract_extension,outfitter,current_market_value,highest_market_value,social_media,market_value_history,code
0,player,/rene/profil/spieler/212209,"{'type': 'club', 'href': '/sc-internacional-po...",,Renê,#6,None,"Sep 14, 1992","{'country': 'Brazil', 'city': 'Picos '}",31,...,left,"\n Apr 11, 2022 ...","Dec 31, 2024",NaN,adidas,NaN,NaN,[http://www.instagram.com/renerodriguees/],NaN,rene
1,player,/joao-dalla-corte/profil/spieler/1004735,"{'type': 'club', 'href': '/sc-internacional-po...",,João Dalla Corte,None,None,"Jun 7, 2006","{'country': 'Brazil', 'city': 'Encruzilhada do...",17,...,left,"\n Jan 1, 2024 ...","Dec 31, 2025",NaN,None,NaN,NaN,NaN,NaN,joao-dalla-corte
2,player,/dalbert/profil/spieler/312862,"{'type': 'club', 'href': '/sc-internacional-po...",,Dalbert,#29,None,"Sep 8, 1993","{'country': 'Brazil', 'city': 'Barra Mansa '}",30,...,left,"\n Apr 17, 2024 ...","Dec 31, 2024",NaN,None,NaN,NaN,"[http://www.facebook.com/dalbertoficial/, http...",NaN,dalbert
3,player,/felipe-motta/profil/spieler/1083638,"{'type': 'club', 'href': '/sc-internacional-po...",,Felipe Motta,#52,None,"Aug 3, 2003","{'country': 'Brazil', 'city': 'Rio de Janeiro '}",20,...,None,"\n Feb 23, 2024 ...","Jun 30, 2025",NaN,None,NaN,NaN,NaN,NaN,felipe-motta
4,player,/igor-gomes/profil/spieler/689640,"{'type': 'club', 'href': '/sc-internacional-po...",,Igor Gomes,#3,None,"Mar 6, 2001","{'country': 'Brazil', 'city': 'Barra Mansa '}",23,...,right,"\n Aug 5, 2022 ...","Dec 31, 2024",NaN,Nike,NaN,NaN,[http://www.instagram.com/01igorgomes/],NaN,igor-gomes

In [52]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   type                            1080 non-null   object
 1   href                            1080 non-null   object
 2   parent                          1080 non-null   object
 3   name                            1080 non-null   object
 4   last_name                       1080 non-null   object
 5   number                          804 non-null    object
 6   name_in_home_country            156 non-null    object
 7   date_of_birth                   1080 non-null   object
 8   place_of_birth                  1080 non-null   object
 9   age                             1080 non-null   int64
 10  height                          1028 non-null   object
 11  citizenship                     1080 non-null   object
 12  position                        1080 non-null   object
 13  player_agent                    1080 non-null   object
 14  image_url                       1080 non-null   object
 15  current_club                    1080 non-null   object
 16  foot                            1017 non-null   object
 17  joined                          1080 non-null   object
 18  contract_expires                1080 non-null   object
 19  day_of_last_contract_extension  0 non-null      float64
 20  outfitter                       590 non-null    object
 21  current_market_value            0 non-null      float64
 22  highest_market_value            0 non-null      float64
 23  social_media                    532 non-null    object
 24  market_value_history            0 non-null      float64
 25  code                            1080 non-null   object
dtypes: float64(4), int64(1), object(21)
memory usage: 219.5+ KB

In [53]:
df_players['parent'][0]

{'type': 'club',
 'href': '/sc-internacional-porto-alegre/startseite/verein/6600/saison_id/2024',
 'seasoned_href': 'https://www.transfermarkt.co.uk/sc-internacional-porto-alegre/startseite/verein/6600/saison_id/2024/saison_id/2022'}

In [54]:
# Función para extraer el número de la cadena
def extraer_id_player(cadena):
    match = re.search(r'/(\d+)$', cadena)
    if match:
        return int(match.group(1))
    else:
        return None

# Aplicar la función a cada fila de la columna
df_players['player_id'] = df_players['href'].apply(extraer_id_player)
df_players.drop('href',axis=1,inplace=True)
df_players.head()

,type,parent,name,last_name,number,name_in_home_country,date_of_birth,place_of_birth,age,height,...,joined,contract_expires,day_of_last_contract_extension,outfitter,current_market_value,highest_market_value,social_media,market_value_history,code,player_id
0,player,"{'type': 'club', 'href': '/sc-internacional-po...",,Renê,#6,None,"Sep 14, 1992","{'country': 'Brazil', 'city': 'Picos '}",31,"1,74 m",...,"\n Apr 11, 2022 ...","Dec 31, 2024",NaN,adidas,NaN,NaN,[http://www.instagram.com/renerodriguees/],NaN,rene,212209
1,player,"{'type': 'club', 'href': '/sc-internacional-po...",,João Dalla Corte,None,None,"Jun 7, 2006","{'country': 'Brazil', 'city': 'Encruzilhada do...",17,"1,78 m",...,"\n Jan 1, 2024 ...","Dec 31, 2025",NaN,None,NaN,NaN,NaN,NaN,joao-dalla-corte,1004735
2,player,"{'type': 'club', 'href': '/sc-internacional-po...",,Dalbert,#29,None,"Sep 8, 1993","{'country': 'Brazil', 'city': 'Barra Mansa '}",30,"1,81 m",...,"\n Apr 17, 2024 ...","Dec 31, 2024",NaN,None,NaN,NaN,"[http://www.facebook.com/dalbertoficial/, http...",NaN,dalbert,312862
3,player,"{'type': 'club', 'href': '/sc-internacional-po...",,Felipe Motta,#52,None,"Aug 3, 2003","{'country': 'Brazil', 'city': 'Rio de Janeiro '}",20,"1,87 m",...,"\n Feb 23, 2024 ...","Jun 30, 2025",NaN,None,NaN,NaN,NaN,NaN,felipe-motta,1083638
4,player,"{'type': 'club', 'href': '/sc-internacional-po...",,Igor Gomes,#3,None,"Mar 6, 2001","{'country': 'Brazil', 'city': 'Barra Mansa '}",23,"1,85 m",...,"\n Aug 5, 2022 ...","Dec 31, 2024",NaN,Nike,NaN,NaN,[http://www.instagram.com/01igorgomes/],NaN,igor-gomes,689640

In [55]:
# Función para extraer el número de la clave 'href'
def extraer_id_club(diccionario):
    match = re.search(r'/(\d+)/', diccionario['href'])
    if match:
        return int(match.group(1))
    else:
        return None

# Aplicar la función a cada fila de la columna 'diccionarios'
df_players['club_id'] = df_players['parent'].apply(extraer_id_club)
df_players.drop('parent',axis=1,inplace=True)
df_players.head()

,type,name,last_name,number,name_in_home_country,date_of_birth,place_of_birth,age,height,citizenship,...,contract_expires,day_of_last_contract_extension,outfitter,current_market_value,highest_market_value,social_media,market_value_history,code,player_id,club_id
0,player,,Renê,#6,None,"Sep 14, 1992","{'country': 'Brazil', 'city': 'Picos '}",31,"1,74 m",Brazil,...,"Dec 31, 2024",NaN,adidas,NaN,NaN,[http://www.instagram.com/renerodriguees/],NaN,rene,212209,6600.0
1,player,,João Dalla Corte,None,None,"Jun 7, 2006","{'country': 'Brazil', 'city': 'Encruzilhada do...",17,"1,78 m",Brazil,...,"Dec 31, 2025",NaN,None,NaN,NaN,NaN,NaN,joao-dalla-corte,1004735,6600.0
2,player,,Dalbert,#29,None,"Sep 8, 1993","{'country': 'Brazil', 'city': 'Barra Mansa '}",30,"1,81 m",Brazil,...,"Dec 31, 2024",NaN,None,NaN,NaN,"[http://www.facebook.com/dalbertoficial/, http...",NaN,dalbert,312862,6600.0
3,player,,Felipe Motta,#52,None,"Aug 3, 2003","{'country': 'Brazil', 'city': 'Rio de Janeiro '}",20,"1,87 m",Brazil,...,"Jun 30, 2025",NaN,None,NaN,NaN,NaN,NaN,felipe-motta,1083638,6600.0
4,player,,Igor Gomes,#3,None,"Mar 6, 2001","{'country': 'Brazil', 'city': 'Barra Mansa '}",23,"1,85 m",Brazil,...,"Dec 31, 2024",NaN,Nike,NaN,NaN,[http://www.instagram.com/01igorgomes/],NaN,igor-gomes,689640,6600.0

Eliminando columnas con la totalidad de los datos nulos

In [56]:
df_players.drop('day_of_last_contract_extension',axis=1,inplace=True)
df_players.drop('market_value_history',axis=1,inplace=True)
df_players.drop('current_market_value',axis=1,inplace=True)
df_players.drop('highest_market_value',axis=1,inplace=True)
df_players.head()

,type,name,last_name,number,name_in_home_country,date_of_birth,place_of_birth,age,height,citizenship,...,image_url,current_club,foot,joined,contract_expires,outfitter,social_media,code,player_id,club_id
0,player,,Renê,#6,None,"Sep 14, 1992","{'country': 'Brazil', 'city': 'Picos '}",31,"1,74 m",Brazil,...,https://img.a.transfermarkt.technology/portrai...,{'href': '/sport-club-internacional/startseite...,left,"\n Apr 11, 2022 ...","Dec 31, 2024",adidas,[http://www.instagram.com/renerodriguees/],rene,212209,6600.0
1,player,,João Dalla Corte,None,None,"Jun 7, 2006","{'country': 'Brazil', 'city': 'Encruzilhada do...",17,"1,78 m",Brazil,...,https://img.a.transfermarkt.technology/portrai...,{'href': '/sc-internacional-u20/startseite/ver...,left,"\n Jan 1, 2024 ...","Dec 31, 2025",None,NaN,joao-dalla-corte,1004735,6600.0
2,player,,Dalbert,#29,None,"Sep 8, 1993","{'country': 'Brazil', 'city': 'Barra Mansa '}",30,"1,81 m",Brazil,...,https://img.a.transfermarkt.technology/portrai...,{'href': '/sport-club-do-recife/startseite/ver...,left,"\n Apr 17, 2024 ...","Dec 31, 2024",None,"[http://www.facebook.com/dalbertoficial/, http...",dalbert,312862,6600.0
3,player,,Felipe Motta,#52,None,"Aug 3, 2003","{'country': 'Brazil', 'city': 'Rio de Janeiro '}",20,"1,87 m",Brazil,...,https://img.a.transfermarkt.technology/portrai...,{'href': '/emirates-club/startseite/verein/155...,None,"\n Feb 23, 2024 ...","Jun 30, 2025",None,NaN,felipe-motta,1083638,6600.0
4,player,,Igor Gomes,#3,None,"Mar 6, 2001","{'country': 'Brazil', 'city': 'Barra Mansa '}",23,"1,85 m",Brazil,...,https://img.a.transfermarkt.technology/portrai...,{'href': '/sport-club-internacional/startseite...,right,"\n Aug 5, 2022 ...","Dec 31, 2024",Nike,[http://www.instagram.com/01igorgomes/],igor-gomes,689640,6600.0

Eliminando columnas con datos redundantes o con direcciones web

In [57]:
df_players.drop('type',axis=1,inplace=True)
df_players.drop('player_agent',axis=1,inplace=True)
df_players.drop('image_url',axis=1,inplace=True)
df_players.drop('current_club',axis=1,inplace=True)
df_players.drop('social_media',axis=1,inplace=True)

df_players.head()

,name,last_name,number,name_in_home_country,date_of_birth,place_of_birth,age,height,citizenship,position,foot,joined,contract_expires,outfitter,code,player_id,club_id
0,,Renê,#6,None,"Sep 14, 1992","{'country': 'Brazil', 'city': 'Picos '}",31,"1,74 m",Brazil,Defender - Left-Back,left,"\n Apr 11, 2022 ...","Dec 31, 2024",adidas,rene,212209,6600.0
1,,João Dalla Corte,None,None,"Jun 7, 2006","{'country': 'Brazil', 'city': 'Encruzilhada do...",17,"1,78 m",Brazil,Defender - Centre-Back,left,"\n Jan 1, 2024 ...","Dec 31, 2025",None,joao-dalla-corte,1004735,6600.0
2,,Dalbert,#29,None,"Sep 8, 1993","{'country': 'Brazil', 'city': 'Barra Mansa '}",30,"1,81 m",Brazil,Defender - Left-Back,left,"\n Apr 17, 2024 ...","Dec 31, 2024",None,dalbert,312862,6600.0
3,,Felipe Motta,#52,None,"Aug 3, 2003","{'country': 'Brazil', 'city': 'Rio de Janeiro '}",20,"1,87 m",Brazil,Defender - Centre-Back,None,"\n Feb 23, 2024 ...","Jun 30, 2025",None,felipe-motta,1083638,6600.0
4,,Igor Gomes,#3,None,"Mar 6, 2001","{'country': 'Brazil', 'city': 'Barra Mansa '}",23,"1,85 m",Brazil,Defender - Centre-Back,right,"\n Aug 5, 2022 ...","Dec 31, 2024",Nike,igor-gomes,689640,6600.0

Eliminand columnas con datos de nula importancia

In [58]:
df_players.drop('name_in_home_country',axis=1,inplace=True)
df_players.head()

,name,last_name,number,date_of_birth,place_of_birth,age,height,citizenship,position,foot,joined,contract_expires,outfitter,code,player_id,club_id
0,,Renê,#6,"Sep 14, 1992","{'country': 'Brazil', 'city': 'Picos '}",31,"1,74 m",Brazil,Defender - Left-Back,left,"\n Apr 11, 2022 ...","Dec 31, 2024",adidas,rene,212209,6600.0
1,,João Dalla Corte,None,"Jun 7, 2006","{'country': 'Brazil', 'city': 'Encruzilhada do...",17,"1,78 m",Brazil,Defender - Centre-Back,left,"\n Jan 1, 2024 ...","Dec 31, 2025",None,joao-dalla-corte,1004735,6600.0
2,,Dalbert,#29,"Sep 8, 1993","{'country': 'Brazil', 'city': 'Barra Mansa '}",30,"1,81 m",Brazil,Defender - Left-Back,left,"\n Apr 17, 2024 ...","Dec 31, 2024",None,dalbert,312862,6600.0
3,,Felipe Motta,#52,"Aug 3, 2003","{'country': 'Brazil', 'city': 'Rio de Janeiro '}",20,"1,87 m",Brazil,Defender - Centre-Back,None,"\n Feb 23, 2024 ...","Jun 30, 2025",None,felipe-motta,1083638,6600.0
4,,Igor Gomes,#3,"Mar 6, 2001","{'country': 'Brazil', 'city': 'Barra Mansa '}",23,"1,85 m",Brazil,Defender - Centre-Back,right,"\n Aug 5, 2022 ...","Dec 31, 2024",Nike,igor-gomes,689640,6600.0

In [59]:
#Elimina la palabra 'Seats', los "." y se transofrma a entero
df_players['number'] = df_players['number'].fillna('0').str.replace('#', '').astype(int)
df_players['height'] = df_players['height'].str.replace(' m', '').str.replace('\xa0m', '').str.replace(',', '.').astype(float)
df_players['joined'] = df_players['joined'].str.strip().str.replace('-', '')
df_players['contract_expires'] = df_players['contract_expires'].str.strip().str.replace('-', '')

# Convertir la columna a formato datetime
df_players['date_of_birth'] = pd.to_datetime(df_players['date_of_birth'], format='%b %d, %Y')
df_players['joined'] = pd.to_datetime(df_players['joined'], format='%b %d, %Y')
df_players['contract_expires'] = pd.to_datetime(df_players['contract_expires'], format='%b %d, %Y')
df_players.head()

,name,last_name,number,date_of_birth,place_of_birth,age,height,citizenship,position,foot,joined,contract_expires,outfitter,code,player_id,club_id
0,,Renê,6,1992-09-14,"{'country': 'Brazil', 'city': 'Picos '}",31,1.74,Brazil,Defender - Left-Back,left,2022-04-11,2024-12-31,adidas,rene,212209,6600.0
1,,João Dalla Corte,0,2006-06-07,"{'country': 'Brazil', 'city': 'Encruzilhada do...",17,1.78,Brazil,Defender - Centre-Back,left,2024-01-01,2025-12-31,None,joao-dalla-corte,1004735,6600.0
2,,Dalbert,29,1993-09-08,"{'country': 'Brazil', 'city': 'Barra Mansa '}",30,1.81,Brazil,Defender - Left-Back,left,2024-04-17,2024-12-31,None,dalbert,312862,6600.0
3,,Felipe Motta,52,2003-08-03,"{'country': 'Brazil', 'city': 'Rio de Janeiro '}",20,1.87,Brazil,Defender - Centre-Back,None,2024-02-23,2025-06-30,None,felipe-motta,1083638,6600.0
4,,Igor Gomes,3,2001-03-06,"{'country': 'Brazil', 'city': 'Barra Mansa '}",23,1.85,Brazil,Defender - Centre-Back,right,2022-08-05,2024-12-31,Nike,igor-gomes,689640,6600.0

In [60]:
# Usar pd.json_normalize() para transformar los diccionarios en columnas
df_info = pd.json_normalize(df_players['place_of_birth'])

# Renombrar las columnas según tus necesidades
df_info.rename(columns={'country': 'country_of_birth', 'city': 'city_of_birth'}, inplace=True)

# Eliminar espacios adicionales en los valores de la columna 'city_of_birth'
df_info['city_of_birth'] = df_info['city_of_birth'].str.strip()

# Concatenar las nuevas columnas al DataFrame original
df_players = df_players.drop(columns=['place_of_birth']).join(df_info)

df_players.head()

,name,last_name,number,date_of_birth,age,height,citizenship,position,foot,joined,contract_expires,outfitter,code,player_id,club_id,country_of_birth,city_of_birth
0,,Renê,6,1992-09-14,31,1.74,Brazil,Defender - Left-Back,left,2022-04-11,2024-12-31,adidas,rene,212209,6600.0,Brazil,Picos
1,,João Dalla Corte,0,2006-06-07,17,1.78,Brazil,Defender - Centre-Back,left,2024-01-01,2025-12-31,None,joao-dalla-corte,1004735,6600.0,Brazil,Encruzilhada do Sul
2,,Dalbert,29,1993-09-08,30,1.81,Brazil,Defender - Left-Back,left,2024-04-17,2024-12-31,None,dalbert,312862,6600.0,Brazil,Barra Mansa
3,,Felipe Motta,52,2003-08-03,20,1.87,Brazil,Defender - Centre-Back,None,2024-02-23,2025-06-30,None,felipe-motta,1083638,6600.0,Brazil,Rio de Janeiro
4,,Igor Gomes,3,2001-03-06,23,1.85,Brazil,Defender - Centre-Back,right,2022-08-05,2024-12-31,Nike,igor-gomes,689640,6600.0,Brazil,Barra Mansa

In [61]:
df_players.to_csv('./Data/liga brasil/players.csv',index=False)